/* General */
h1
{
  font-weight: inherit;
}
.ui-header
{
  	font-family: 'Abel', sans-serif;
    font-size: 1.2em;
    color: #ff962e !important;
}
.ui-field-contain
{
  border: 0 none;
}
/* First Screen */
.logo
{
  font-family: 'Abel', sans-serif;
  font-size: 3em;
  color: #ff962e
}
#logo
{

  transform: translate(-50%,-45%);
  position: absolute;
  top: 45%;
  left: 50%;

}
#linksIndex
{
  display: flex;
  justify-content: space-around;
  width: 92%;
  position: absolute;
  bottom:15px;
}

/* Bouton envoyer formulaire */
.ui-input-btn
{
  margin-top: 50px;
}
#errorFormIns,
#errorFormCo
{
  text-align: center;
  height: 25px;
  border:1px solid #191a1a;
}
